@import url('https://fonts.googleapis.com/css2?family=Germania+One&display=swap');

body
{
    margin: 0;
    font-family: "Gil";
    background-image: url("images/index.jpg");
    background-size: cover;
    background-attachment: fixed;

    

}



/*HEADER*/

header
{
    background-color: #375d62;
}
#color_button_header
{
    color: #169198;
    border-color: #169198;
    font-family: 'Germania One', cursive;
}

.flex_recherche
{
    display: flex;
    flex-direction: column;
}

#autob
{
   font-family: 'Germania One', cursive; 
}

#datab{
    position: absolute;
    top: 65px;
    background-color: #66d5ee57;
}
.a-head
{
   font-family: 'Germania One', cursive;
   font-size: 3vh;
   color: #30dcfa !important;
   text-shadow: 2px 2px 4px black;
}
#datab > .lien_champion>img
{
    width: 35%;
}
/*INDEX*/
#main-ind
{
    height: 70vh;
    display: flex;
    align-items: center;

}
.form-ind
{
    align-items: center;
}
#autoa
{
    font-family: 'Germania One', cursive;
    font-size: 6vh;
}
#dataa
{
    position: absolute;
    width: 25%;
    background-color: #66d5ee57;
}
#dataa > .lien_champion
{
    font-size: 150%;
}
.lien_champion:hover
{
    background-color: #5ab7ae91;
    color: white;
    text-decoration: none;
    box-shadow: 0px 0px 6px white;
}
#color_button_index
{
    color: #169198;
    font-family: 'Germania One', cursive;
    border-color: #169198;
    background-color: aliceblue;
    margin: 1%;
    float: right;
    font-size: 3vh;
}

.position_barre_recherche
{
  margin-top: 400px;
  margin-left: 800px;
}

.taille_recherche
{
    width: 400px;
}
/*CHAMPION*/

.flex_main_champion
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.flex_section_champion
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 10px;
}

.h2_champion
{
    color: aliceblue;
    text-shadow: 2px 2px 3px black;
    font-family: 'Germania One', cursive;
}

.flex_images_champion
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
   
}

.lien_champion
{
    color: aliceblue;
    text-decoration: none;
    text-shadow: 2px 2px 3px black;
    font-family: 'Germania One', cursive;
    display: flex;
    justify-content: space-between;
    padding: 1%;
}

/*ELEMENT*/

.flex_element
{
    display: flex;
    flex-direction: column;
    color: aliceblue;
    text-shadow: 2px 2px 3px black;
    width: 250px;
    margin-left: 400px;
    margin-top: 10px;
}

.width_element
{
    width: 300px;;
}

.image_champion
{
    margin-left: 5px;
}

.p_champion
{
    text-align: center;
}
